<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cdut.zhangleigraduation.stock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="cn.cdut.zhanglei.graduation.stock.StockApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity android:name="cn.cdut.zhanglei.graduation.stock.views.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.cdut.zhanglei.graduation.stock.test.TestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.cdut.zhanglei.graduation.stock.views.MainAcitvity" >
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="MyTest"
        android:targetPackage="cn.cdut.zhangleigraduation.stock" >
    </instrumentation>

</manifest>